* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
}

h3 {
  padding: 2rem;
  font-size: 32px;
  text-align: center;
  padding: 0.25em;
}
.font-awesome {
  font-size: 25px;
  color: rgb(97, 104, 109);
}
.header-section {
  background-color: #000;
}

.nav-links {
  display: flex;
}
.nav-links li {
  list-style-type: none;
  padding: 1rem;
  font-size: 1rem;
  font-size: 20px;
  color: white;
}
.nav-links a {
  text-decoration: none;
  color: white;
}
.nav-links a:hover {
  border-bottom: 1px solid black;
}
button {
  background-color: rgb(136, 103, 103);
  border-radius: 10%;
  padding: 0.25em;
  color: white;
  border: 1px solid rgb(252, 198, 245);
}
/*HOME PAGE*/
.about-section {
  background-color: rgb(248, 228, 245);
}
.name {
  font-size: 32px;
  color: rgb(3, 3, 3);
}
.about-container {
  display: flex;
}
.about-info1 {
  width: 50%;
  max-width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  text-transform: capitalize;
  line-height: 32px;
  font-size: 20px;
}

.tech-skills {
  text-align: center;
  line-height: 30px;
  background-color: white;
  border: 1px solid rgb(14, 13, 13);
}
span {
  font-weight: 600;
}
.image {
  width: 50%;
}
.image img {
  width: 70%;
  max-width: 100%;
  border-radius: 50%;
}

.social-links {
  display: flex;
}
.social-links li {
  padding: 2.5rem;
  list-style-type: none;
}
.social-links a:hover {
  color: white;
}
.see-more {
  margin: 1rem;
  text-align: center;
  font-size: 18px;
  padding: 1rem;
}
.see-more a {
  text-decoration: none;
}
.see-more a:hover {
  font-size: 20px;
  color: #000;
}

/* projects*/

.project {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  padding: 2rem;
}
.project-info li {
  list-style-type: none;
}
.project-img img {
  width: 80%;
}
.project-img a:hover {
  border: 2px solid black;
}
.article {
  background-color: rgb(248, 228, 245);
}
