* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
}

h3 {
  padding: 2rem;
  font-size: 32px;
  text-align: center;
  padding: 0.25em;
}
.header-section {
  box-shadow: 4px 10px 136px -8px rgba(33, 191, 201, 0.75);
  -webkit-box-shadow: 4px 10px 136px -8px rgba(33, 191, 201, 0.75);
  -moz-box-shadow: 4px 10px 136px -8px rgba(33, 191, 201, 0.75);
}
.navbar {
  background-color: rgba(179, 223, 226, 0.75);
}
.nav-links {
  display: flex;
}
.nav-links li {
  list-style-type: none;
  padding: 1rem;
  font-size: 1rem;
  text-shadow: -5px 24px 1px rgba(0, 0, 0, 0.13);
}
.nav-links a {
  text-decoration: none;
  color: black;
}
.nav-links a:hover {
  border-bottom: 1px solid white;
}

/*HOME PAGE*/

.name {
  font-size: 32px;
  color: rgb(3, 3, 3);
}
.about-container {
  display: flex;
  margin-top: 2rem;
}
.about-info1 {
  width: 50%;
  max-width: 100%;
  padding: 1rem;
  margin-top: 1rem;
  text-transform: capitalize;
  line-height: 32px;
  font-size: 20px;
}
span {
  font-weight: 600;
}
.image {
  width: 50%;
}
.image img {
  width: 70%;
  max-width: 100%;
  border-radius: 50%;
}

.social-links {
  display: flex;
}
.social-links li {
  padding: 2.5rem;
  list-style-type: none;
}

.social-links a {
  color: rgb(61, 61, 148);
}
.social-links a:hover {
  color: blueviolet;
}
.see-more {
  margin: 1rem;
  text-align: center;
  font-size: 18px;
  padding: 1rem;
}
.see-more a {
  text-decoration: none;
  color: blue;
}
.see-more a:hover {
  font-size: 20px;
  color: blueviolet;
}

@media (max-width: 600px) {
  .about-container {
    display: flex;
    flex-direction: column;
  }
  .about-info1 {
    width: 100%;
  }
  .image {
    max-width: 100%;
    width: 100%;
  }
  .social-links {
    display: flex;
    flex-direction: column;
    text-align: center;
  }
}
/*about page*/
.about-section {
  padding-top: 3rem;
  border-bottom: 4px dotted rgba(179, 223, 226, 0.75);
}
.my-info {
  text-align: center;
  font-size: rem;
}
.contact {
  padding: 2rem;
}
.tech-skills {
  padding-top: 2rem;
}
.soft-skills {
  padding-top: 2rem;
}

/* projects*/
.projects-cointainer {
  border-bottom: 4px dotted rgba(179, 223, 226, 0.75);
}
.project {
  display: flex;
  justify-content: space-evenly;
  margin-top: 1rem;
  padding: 2rem;
}
.project-info li {
  list-style-type: none;
}
.project-img img {
  width: 80%;
}

@media (max-width: 600px) {
  .project {
    display: flex;
    flex-direction: column;
  }
}
